@text-color: #434343;
@main-color: #5094f2;
@white-color: #fff;
@dark-color: #353f48;
@gray-color: #ebebeb;
@orange-color: #fca825;
@red-color: tomato;
@green-color: green;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after,
div:after,
header:after,
footer:after,
p:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: normal;
}
h1, h2, h3 {
  margin: 0 0 20px;
  font-size: 30px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: @main-color;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #434343;
  background: @white-color;
}
body.menu-show {
  overflow: hidden;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  border: 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-margin {
  display: block;
  margin-top: 30px;
}
.btn-margin-small {
  display: block;
  margin-top: 10px;
}
.btn-main {
  background: @main-color;
  border-color: @main-color;
}
.btn-main:hover {
  background-color: transparent;
  color: @main-color;
}
.btn-gray {
  background: @gray-color;
  color: @main-color;
  border-color: @gray-color;
}
.btn-gray:hover {
  background-color: transparent;
}
.divider {
  width: 100%;
  height: 1px;
  background: url('../img/divider-dashed.png') repeat-x left center;
}
input[type=text],
input[type=password],
input[type=email],
textarea {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: 1px solid darken(@gray-color, 20%);
}
textarea {
  height: 90px;
}
input[type=submit] {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: @main-color;
  border: 1px solid @main-color;
  color: #fff;
  outline: none;
}
input[type=submit]:hover {
  background-color: transparent;
  color: @main-color;
}
label {
  display: block;
  margin-bottom: 5px;
}
form {

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=file],
  textarea,
  .dropdown {
    margin-bottom: 10px;
  }

  .btn {
    display: block;
    margin-top: 10px;
  }
}
.dark-form {

  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    background: #414d58;
    color: #727d87;
    border: 1px solid #727d87;
  }
  input[type=submit] {
    color: #434343;
    background: #fff;
    border: 1px solid #fff;
  }
  input[type=submit]:hover {
    color: #fff;
    background-color: transparent;
  }
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
  background: @white-color;
  text-align: center;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.8);
  z-index: 11;
}
.logo {
  position: absolute;
  width: 112px;
  height: 25px;
  top: 50%;
  left: 50%;
  margin-top: -12.5px;
  margin-left: -56px;
  background: url('../img/logo.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.menu-btn {
  padding: 10px;
  background: @main-color;
  cursor: pointer;

  .menu-line {
    display: block;
    width: 20px;
    height: 1px;
    margin-bottom: 5px;
    background: @white-color;
  }
  .menu-line:last-child {
    margin-bottom: 0;
  }
}
.shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
aside {
  position: fixed;
  left: 0;
  top: 63px;
  width: 250px;
  max-width: 70%;
  height: 100%;
  padding: 40px 15px;
  background: darken(@text-color, 10%);
  overflow: hidden;
  z-index: 10;
}
.reg-btn-flat,
.auth-btn-flat,
.money-btn-flat {
  display: inline-block;
  padding-left: 45px;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.reg-btn-flat {
  background: url('../img/icon-reg-flat.png') no-repeat center left;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
}
.auth-btn-flat {
  background: url('../img/icon-auth-flat.png') no-repeat center left;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
}
.money-btn-flat {
  background: url('../img/icon-givemoney.png') no-repeat center left;
  -webkit-background-size: 22px 21px;
  background-size: 22px 21px;
}
.aside-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: lighten(@text-color, 10%);
}
.join-block {
  margin-top: 25px;
  color: #fff;

  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    color: #fff;

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;
      border-radius: 1px;
      text-align: center;
      line-height: 24px;
      font-size: 10px;
      font-weight: normal;
      text-transform: uppercase;
      vertical-align: middle;
    }
    .vk {
      background: #07689f;
    }
    .ig {
      background: #c4761a;
    }
  }
  .soc-divider {
    margin: 5px 0;
  }
}
main {
  margin-top: 63px;
   padding-bottom: 58px;
}
main section {
  max-height: 9001em;
}
.top-block {
  padding: 30px 0;
  position: relative;
  background: url('../img/top-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  
  h1 {
    margin: 0 0 10px;
  }
  img {
    height: 100%;
    width: auto;
  }
  article {
    float: right;
    max-width: 100%;
    width: 335px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
  }
  p {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 24px;
  }
}
.about-block  {
  padding: 20px 0 0;
  
  .divider {
    margin-top: 20px;
  }
  .about-title {
    display: block;
    margin-bottom: 20px;
  }
  .about-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: -4px;
    border: 2px solid @main-color;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
  }
  .about-city {
    background: url('../img/icon-city.png') no-repeat center center;
    -webkit-background-size: 60% 60%;
    background-size: 60% 60%;
  }
  .about-bike {
    background: url('../img/icon-bike.png') no-repeat center center;
    -webkit-background-size: 60% 60%;
    background-size: 60% 60%;
  }
  .about-phone {
    background: url('../img/icon-phone.png') no-repeat center center;
    -webkit-background-size: 60% 60%;
    background-size: 60% 60%;
  }
  strong {
    display: inline-block;
    margin-right: -4px;
    margin-left: 15px;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: middle;
  }
  p {
    margin: 0;
    font-size: 16px;
  }
}
.about-block.about-phone {
  padding-bottom: 30px;
}
.auth-block-index {
  padding: 35px 0 20px;
  text-align: center;
  background: @dark-color;
  color: @white-color;

  p {
    margin: 0;
    line-height: 28px;
  }
  form {
    margin-top: 30px;
  }
}
.gray-bg {
  padding: 20px 0;
  background: @gray-color;

  p {
    margin: 0;
  }
}
.message-block {
  margin: 20px 0;
  padding: 20px 0;
  color: @white-color;

  p {
    margin: 0;
  }
}
.error-bg {
  background: @red-color;
}
.success-bg {
  background: @green-color;
}
.reg-block, .login-block, .profile-block {
  margin-top: 20px;
  text-align: center;
}
form + .btn {
  display: block;
  margin-top: 30px;
}
.remember-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}
.profile-img {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
  height: 110px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid @main-color;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;

  img {
    height: 100%;
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
}
.profile-info {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding-top: 10px;

  .profile-name {
    display: block;
    color: @main-color;

    a {
      font-weight: lighter;
    }
  }
  .profile-note {
    margin: 5px 0 0;
  }
}
.profile-status {
  font-weight: normal;
  color: @orange-color;
}
.profile-status.profile-captain {
  padding-right: 20px;
  background: url('../img/icon-star.png') no-repeat center right;
  -webkit-background-size: 12px 11px;
  background-size: 12px 11px;
}
.profile-team {

  .team-name {
    font-size: 22px;
    line-height: 1;
    font-weight: normal;
    color: @main-color;
  }
  .team-desc {
    margin: 5px 0 0;
  }
  .team-members {
    margin: 10px 0 0;
  }
  .add-team-member {
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 10px;
    padding: 20px;
    border: 1px solid @main-color;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: @gray-color;
    vertical-align: top;

    figure {
      width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background: @main-color;
    }
    span {
      font-size: 30px;
      font-weight: normal;
      line-height: 51px;
      text-align: center;
      color: #fff;
    }
  }
  .team-member {
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 10px;
    overflow: hidden; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;

    img {
      height: 100%;
      width: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
    }
  }
}
.search-block {
  margin: 20px 0;
  text-align: left;
 
 article {
  margin: 0 0 15px;

  &:last-child {
    margin: 0;
  }
 }
  p {
    margin: 0;
  }
  .search-single-title {
    font-size: 18px;
  }
}
.quest-header {
  background: url('../img/minsk-tmp.png') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  
  .quest-header-inner {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.45);
  }
  .quest-title {
    margin: 0 0 5px;
    font-size: 20px;
    color: @main-color;
  }
  .quest-desc {
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    margin: 5px 0 0;
  }
}
.quest-block {
  margin-top: 20px;

  .quest-block-title,
  .quest-start-title {
    display: block;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 400;
  }
  .quest-block-data {
    margin: 0 0 15px;
    padding-left: 20px;
    font-size: 16px;
  }
  .quest-start-title {
    text-align: center;
  }
  .quest-start-time {
    text-align: center;
  }
  .quest-start-counter {
    font-size: 30px;
    line-height: 1;

    span {
      font-weight: 400;
      font-size: 34px;
      line-height: 1;
    }
  }
}
.help-block {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  color: #333;
}
/* adaptive part */

@media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 800px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1600px) {}