<section class="gray-bg">
	<div class="container">
		<p>Бла бла бла</p>
	</div>
</section>
<section class="login-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		<form action="/auth" method="POST">
			<input name="login" type="text" placeholder="Логин" required>
			<input name="password" type="password" placeholder="Пароль" required>
			<input type="submit" value="Войти">
		</form>
	</div>
</section>