<section class="gray-bg">
	<div class="container">
		<p>Создайте свою крутую команду</p>
	</div>
</section>
<section class="login-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		<section class="search-block">
			{% for result in results %}
			<article>
				<a class="search-single-title" href="/team/{{result.name}}"><b>{{ result.name }}</b></a>
				<p>{{ result.desc }}</p>
			</article>
			{% endfor %}
		</section>
		<form action="/create-team" method="POST">
			<input name="name" type="text" placeholder="Введите название команды*" required>
			<textarea name="desc" placeholder="Краткое описание*" required></textarea>
			<input type="submit" value="Создать">
		</form>
	</div>
</section>