<div class="top-block">
			<div class="container">
				<article>
					<h1>ВелоКвесты в Минске</h1>
					<p>Увлекательное велосипедное созтязание в центре города!</p>
					<a href="/reg" class="btn btn-main">Присоединиться</a>
				</article>
				<div class="clearfix"></div>
			</div>
		</div>
		<section class="about-block about-city">
			<div class="container">
				<span class="about-title">
					<span class="about-img about-city"></span>
					<strong>Город</strong>
				</span>
				<p>QBIKE - новый формат активного отдыха в городе. Собери свою команду и отправляйся раскрывать тайны города Минска. Побеждает лучший!</p>
				<div class="divider"></div>
			</div>
		</section>
		<section class="about-block about-bike">
			<div class="container">
				<span class="about-title">
					<span class="about-img about-bike"></span>
					<strong>Велосипед</strong>
				</span>
				<p>Квесты подготовлены для разного уровня подготовки участников. Велосипед - стиль жизни, это экологично, удобно, но и самое главное - полезно для здоровья!</p>
				<div class="divider"></div>
			</div>
		</section>
		<section class="about-block about-phone">
			<div class="container">
				<span class="about-title">
					<span class="about-img about-phone"></span>
					<strong>Смартфон</strong>
				</span>
				<p>Для участия в квестах необходимо при себе иметь любой смартфон с возможностью выхода в Интернет. На нашем сайте, в персональном профиле команду ждут задания и увлекательные квесты.</p>
			</div>
		</section>
		<section class="auth-block-index">
			<div class="container">
				<p>Войдите или <a href="#">зарегистрируйтесь</a> и получите доступ к ВелоКвестам прямо сейчас!</p>
				<form action="/auth" class="dark-form">
					<input type="text" placeholder="Логин" required>
					<input type="password" placeholder="Пароль" required>
					<input type="submit" value="Войти">
				</form>
			</div>
		</section>