<section class="gray-bg profile-header">
	<div class="container">
		<figure class="profile-img">
			{% if profile.img %}
			<img src="{{profile.img}}">
			{% else %}
			<img src="/media/img/avatar.jpg">
			{% endif %}
		</figure>
		<article class="profile-info">
			{% if team %}
			<a href="/team/{{ team.name }}" class="profile-status {% if team.is_captain %}profile-captain{% endif %}">
				{% if team.is_captain %}
				Капитан
				{% else %}
				Член команды
				{% endif %}
			</a>
			{% endif %}
			<strong class="profile-name">{{profile.name}}<br><a href="/profile/edit">(Редактировать)</a></strong>
			<p class="profile-note">{{profile.info}}</p>
		</article>
	</div>
</section>
{% if team %}
<section class="profile-block profile-team">
<div class="container">
	<strong class="team-name">{{team.name}}</strong>
	<article class="team-desc">
		{{team.desc}}
	</article>
	<div class="team-members">
		{% for member in teamMembers %}
		<figure class="team-member">
			{% if profile.name == member.name %}
			<a href="/user/{{member.login}}" title="{{member.login}}">
			{% endif %}
				{% if member.img %}
				<img src="{{member.img}}">
				{% else %}
				<img src="/media/img/avatar.jpg">
				{% endif %}
			{% if profile.name == member.name %}
			</a>
			{% endif %}
		</figure>
		{%endfor %}
		{% if team.is_captain %}
		<a href="/request-in-team" class="add-team-member">
			<figure>
				<span>+</span>
			</figure>
		</a>
		{% endif %}
	</div>
	{% if team.is_captain %}
	<a href="/get-quest" class="btn btn-main btn-margin">Получить квест</a>
	{% endif %}
</div>
</section>
{% else %}
<section class="profile-block">
	<div class="container">
		<form action="/search-team" method="GET">
			<input type="text" name="q" placeholder="Введите название команды для поиска">
			<input type="submit" value="Присоединиться к команде">
		</form>
		<a href="/create-team" class="btn btn-gray">Создать свою команду</a>
	</div>
</section>
{% endif %}