<section class="gray-bg">
	<div class="container">
		<p>Редактирование профиля</p>
	</div>
</section>
<section class="login-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		<form enctype="multipart/form-data" action="/profile/edit" method="POST">
			<input name="name" type="text" placeholder="Имя*" value="{{ profile.name}}" required>
			<textarea name="info" placeholder="Дополнительная информация">{{ profile.info}}</textarea>
			<label for="avatar">Аватар профиля</label>
			<input id="avatar" name="avatar" type="file">
			<input type="submit" value="Сохранить">
			<a href="/profile" class="btn btn-gray">К профилю</a>
		</form>
	</div>
</section>