<section class="gray-bg">
	<div class="container">
		<p>Бла бла бла</p>
	</div>
</section>
<section class="reg-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		<form action="/reg" method="POST">
			<input name="name" type="text" placeholder="Имя" required>
			<input name="login" type="text" placeholder="Логин" required>
			<input name="password" type="password" placeholder="Пароль" required>
			<input name="repassword" type="password" placeholder="Повторный ввод пароля" required>
			<input type="submit" value="Зарегистрироваться">
		</form>
	</div>
</section>