<section class="gray-bg">
	<div class="container">
		<p>Создайте свою команду!</p>
	</div>
</section>
<section class="login-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		{% if users %}
		<form action="/request-in-team" method="POST">
			<label for="login">Логин пользователя:</label>
			<select id="login" name="login" class="dropdown">
			{% for user in users %}
				<option value="{{ user.login }}">{{ user.login }}</option>
			{% endfor %}
			</select>
			<textarea name="desc" placeholder="Сообщение пользователю" required></textarea>
			<input type="submit" value="Отправить приглашение">
			<a href="/profile" class="btn btn-gray">К профилю</a>
		</form>
		{% else %}
		<p>Нету свободных пользователей :(</p>
		<a href="/profile" class="btn btn-gray btn-margin-small">К профилю</a>
		{% endif %}
	</div>
</section>