<section class="gray-bg">
	<div class="container">
		<p>Результаты по поиску <b>"{{query}}"</b>:</p>
	</div>
</section>
<section class="login-block">
	<div class="container">
		{% if message %}
		<section class="{{messageClass}} message-block">
			<div class="container">
				<p>{{message}}</p>
			</div>
		</section>
		{% endif %}
		<section class="search-block">
			{% for result in results %}
			<article>
				<a class="search-single-title" href="/team/{{result.name}}"><b>{{ result.name }}</b></a>
				<p>{{ result.description }}</p>
			</article>
			{% endfor %}
		</section>
		<form action="/search-team" method="GET">
			<input name="q" type="text" placeholder="Введите название команды" required>
			<input type="submit" value="Найти">
		</form>
	</div>
</section>