<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<title>QBike.by</title>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/media/css/normalize.css">
	<link rel="stylesheet" href="/media/css/easydropdown.css">
	<link rel="stylesheet" href="/media/css/style.css">
</head>
<body>
	<header role="banner">
		<div class="container">
			<span class="menu-btn to-left">
				<span class="menu-line"></span>
				<span class="menu-line"></span>
				<span class="menu-line"></span>
			</span>
			<a href="/" class="logo"></a>
			<div class="clearfix"></div>
		</div>
	</header>
	<div class="shadow"></div>
	<aside class="leftbar">
		<a href="/reg" class="reg-btn-flat">Регистрация</a>
		<div class="aside-divider"></div>
		<a href="/auth" class="auth-btn-flat">Авторизация</a>
		<div class="aside-divider"></div>
		<a href="/help" class="money-btn-flat">Помочь проекту</a>
		<div class="aside-divider"></div>
		<nav class="join-block">
			<p>Присоединяйтесь к нам:</p>
			<a href="#"><span class="vk">vk</span>Блог ВКонтакте</a>
			<div class="soc-divider"></div>
			<a href="#"><span class="ig">ig</span>Страница Instagram</a>
		</nav>
	</aside>
	<main role="main">
		{{content|raw}}
	</main>
	<a href="/help" class="help-block gray-bg">Помощь</a>
	<script src="/media/js/jquery.min.js"></script>
	<script src="/media/js/jquery.easydropdown.min.js"></script>
	<script src="/media/js/main.js"></script>
</body>
</html>